<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>minbin – the minimal, ephemeral pastebin</title>
    <link rel="canonical" href="https://minb.in/404.html">
    <meta property="og:url" content="https://minb.in/404.html">
    <meta name="description" content="minbin is a minimal, privacy-focused pastebin service for sharing plain text or code. it's open source, fast, ephemeral, and without clutter.">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=945fb3ff8106aaf5eda73c29e0d47826">
    <link rel="stylesheet" href="/assets/css/Funnel%20Sans.css?h=003372336693fef549f5c62737415f0d">
    <link rel="stylesheet" href="/assets/css/Geist%20Mono.css?h=889852f81e4197ed3c1dc2b94a706e02">
    <link rel="stylesheet" href="/assets/css/styles.css?h=f54fffe3509c589adae6adceedf9959b">
</head>

<body style="height: 100vh;font-family: 'Funnel Sans', sans-serif;background: rgb(0,0,0);">
    <section style="min-height: 100vh;max-width: 100%;">
        <div class="container d-flex flex-column" style="min-height: 100vh;padding: 0px;margin: 0px;max-width: 100%;">
            <div class="d-flex flex-row justify-content-center align-items-center" style="padding: 32px;">
                <a href="/" style="text-decoration: none; color: inherit;">
                    <img class="img-fluid h-100" width="500" height="102" src="/assets/img/logo-dark.png?h=040b1ce32533b03380283b282aad47a6" style="width: 100px;margin-right: 32px;">
                </a>
                <div class="text-end flex-grow-1">
                    <a class="btn btn-primary" href="/" style="padding: 4px 8px;background: rgba(0,0,0,0);border-style: none;border-radius: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="margin-top: -4px;margin-right: 8px;font-size: 20px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3006 1.04621C11.7169 1.17743 12 1.56348 12 1.99995V6.99995L16 6.99995C16.3729 6.99995 16.7148 7.20741 16.887 7.53814C17.0592 7.86887 17.0331 8.26794 16.8192 8.57341L9.81924 18.5734C9.56894 18.931 9.11564 19.0849 8.69936 18.9537C8.28309 18.8225 8 18.4364 8 18L8 13H4C3.62713 13 3.28522 12.7925 3.11302 12.4618C2.94083 12.131 2.96694 11.732 3.18077 11.4265L10.1808 1.42649C10.4311 1.06892 10.8844 0.914992 11.3006 1.04621Z" fill="currentColor"></path>
                        </svg>New
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center" style="padding: 0px 32px;">
                <p style="color: rgba(255,255,255,0.1);font-family: 'Geist Mono', monospace;font-size: 200px;margin-bottom: 0px;line-height: 1;">404</p>
                <p style="color: rgb(255,255,255);margin-bottom: 0px;">The paste you're looking for does not exist or has expired.</p>
            </div>
            <div style="padding: 32px;">
                <p style="margin-bottom: 16px;font-size: 14px;color: rgba(255,255,255,0.3);"><span style="font-weight: 500;color: rgb(255,255,255);">minbin is a minimal, ephemeral pastebin service.</span>&nbsp;<span>created by <a href="https://berrysauce.dev" style="color: inherit;" target="_blank">berrysauce</a>.</span><br>this service is provided as is, with no guarantees. do not use it to store illegal, sensitive, personal, or confidential information. the operator is not responsible for user-submitted content.<br>no personal data is collected. pastes are anonymous and auto-delete after 1 hour. by using this service, you agree to these terms.</p>
                <p style="margin-bottom: 0px;font-size: 14px;color: rgba(255,255,255,0.3);"><span style="font-weight: 500;color: rgb(255,255,255);"><img class="img-fluid" src="/assets/img/eu.webp?h=a722428543558d4a0580ae0befc34ecd" style="height: 20px;margin-top: -2px;margin-right: 10px;box-shadow: 0px 0px 20px 0px rgb(1,51,153);">Hosted in Europe</span></p>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=2cf0875e1daf356bc4e64c053e7a4150"></script>
</body>

</html>